extends layout.pug 

block content
  h1 Impostor
  p Welcome to Impostor
  button Protected Room
    a(href='/room') room

  form(action="/logout", method="POST")
    button(class="logout", type="submit") Sign out

  form(action="/login", method="GET")
    button(class="login", type="submit") Sign in

  form(action="/local/register")
    button(class="register", type="submit") Register with Email
    