doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Impostor
    block scripts

  body
    block content
    block foot 
    #footer
      footer 
        small &copy; Copyright 2022, Sapphire Technologies. All Rigths Reserved. 