extends layout.pug 

block content
  h1 Login
  form(action='/login', method='POST')
    label(for='email') email 
    input(id='email', type='text', name='email', placeholder='example@email.com', autocomplete='email', required)
    label(for='current-password') Password
    input(id='current-password', type='password', name='password', autocomplete='current-password', required)
    input(type='submit', value='login')