extends layout.pug 

block scripts
  script(defer, type="module" src="/javascripts/clientSocket.js")
  link(rel="stylesheet", href="/stylesheets/room.css")
  
block content
  h1 Chat Room
  h3= name
  p Welcome to the room, #{name}!
  //can change this to a description list in the future
  ul
  //this is the form for sending messages
  form 
    label(for="text_message") Message:
    input(id= "text_message", type='text', name='text_message', value='Write here')
    input(type='submit', value='Send')